
/* background */

body {
    background: #E7ECEF;
}


#solidCircle1 {
    width: 34.72vw;
    position: fixed;
    top: -7vh;
    left: 43vw;
    z-index: -1;
}

#solidCircle2 {
    width: 20.83vw;
    position: fixed;
    top: 45vh;
    left: 14vw;
    z-index: -1;
}

#solidCircle3 {
    width: 6.94vw;
    position: fixed;
    top: 70vh;
    left: 70vw;
    z-index: -1;
}

#light1 {
    width: 48.61vw;
    position: fixed;
    top: 20vh;
    left: 55vw;
    z-index: -2;
}

#light2 {
    width: 48.61vw;
    position: fixed;
    top: -15vh;
    left: 5vw;
    z-index: -2;
}

/* background */

/* title */

h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    font-size: 10em;
    text-align:center;
    margin: 5vh;
}

/* title */

/* card */


.card {
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
    height: fit-content;
    background-color: rgba(231, 236, 239, 0.28);
    backdrop-filter: blur(25px); 
    border-radius: 30px;
    border: 3px solid;
    border-color: rgba(255, 255, 255, 0.28);
    border-top-color: #80808020;
    border-left-color: #80808020;
    padding: 1rem;
}

h3  {
    font-family: 'Inter', sans-serif;
    font-size: 3em;
    margin: 1rem;
    font-weight: 300;
    margin-bottom: 2rem;
}
p, label, input {
    font-family: 'Inter', sans-serif;
    font-size: 1.5em;
    padding: 1rem;
    font-weight: 400;
    margin: 0;
}


input {
    resize: none;
    padding: 10px;
    height: fit-content;
    width: calc(100% - 4rem);
    margin: 1rem;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #80808000;
}

.grey {
    color: #666666;
}

.filler {
    height: 8rem;
}

button {
    border: 3px solid ;
    border-radius: 10px;
    margin: 2rem;
    background-color: #138aec00;
    color: #138BEC;
    border-color: #138BEC;
    font-family: 'Inter', sans-serif;
    font-size: 1.5em;
    padding: 0.5rem;
    font-weight: 400;
    position: absolute;
    right: 0;
    bottom: 0;
}

button:hover {
    background-color: #138BEC;
    color: white;
}



/* card */

